<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
            <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
         </customHeaders>
      </httpProtocol>
      <staticContent>
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <remove fileExtension=".woff" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
         <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
         <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="reminacare" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>

   <!-- Prevent index.html from being cached so deploys are picked up immediately -->
   <location path="index.html">
      <system.webServer>
         <staticContent>
            <clientCache cacheControlMode="DisableCache" />
         </staticContent>
         <httpProtocol>
            <customHeaders>
               <add name="Cache-Control" value="no-store, no-cache, must-revalidate" />
               <add name="Pragma" value="no-cache" />
            </customHeaders>
         </httpProtocol>
      </system.webServer>
   </location>
</configuration>
